body {
    background-color: black;
    color: white;
}

#menu {
    display: flex;
}

#menu h1 {
    margin: 10px;
    margin-right: 25%;
}

header {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

header a {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-right: 25%;
    padding: 10px;
    white-space: nowrap;
}

header a:hover {
    background-color: white;
    color: black;
}

#select {
    background-color: grey;
}

#select:hover {
    background-color: grey;
    color: white;
}

#lienAccueil {
    text-decoration: none;
    color: white;
}