<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/ajout.css">
    <title>Ajout</title>
</head>
<body>
    <div id="menu">
        <h1><a href="/" id="lienAccueil">Liens</a></h1> 
        <header>
            <a id="select">Ajout</a>
            <a href="apropos">A propos</a>
        </header>
    </div>
    <hr>

    <form action="bizutage" method="post">
        <input type="text" name="titre" id="titre" placeholder="Titre" required>
        <input type="url" name="lien" placeholder="Liens" required>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <select id="categories" name="categories">
            <option value="informatique">Informatique</option>
            <option value="jv">Jeux Vidéos</option>
            <option value="musique">Musique</option>
            <option value="autres" selected>Autre</option>
        </select>
        <input type="submit" value="Envoyer">
    </form>

    {% if erreur %}
        <p id="erreur">{{ erreur }}</p>
    {% elif reussi %}
        <p id="reussi">{{ reussi }}</p>
    {% endif %}
</body>
</html>
