<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <title>Partage de liens</title>
</head>
<body>
    <div id="menu">
        <h1>Liens</h1> 
        <header>
            <a href="/recherche">Recherche</a>
            <a href="/ajout">Ajout</a>
            <a href="/apropos">A propos</a>
        </header>
    </div>
    <div id="categories">
        <ul>
       <!--     <li><a href="/">Toutes catégories</a></li>
            <li class="informatique"><a href="/categories/informatique">Informatique</a></li>
            <li class="musique"><a href="/categories/musique">Musique</a></li>
            <li class="autres"><a href="/categories/autres">Autres</a></li> -->
        </ul>
    </div>
    
    <div>
    <p>Recherche</p>
    <form>
        <select id="categorie" name="categorie">
            <option value="informatique">Informatique</option>
            <option value="musique">Musique</option>
            <option value="autres">Autre</option>
            <option value="tout" selected>Pas de filtre</option>
        </select>
        <input type="button" value="Recherche" onClick="recherche()">
    </form>
    </div>

    <hr>
    {% for lien in listeLiens %}
        <div class="elem {{lien.categorie}}">
            <h2>{{lien.titre}}</h2>
            <p><a href="{{lien.url}}">{{lien.url}}</a></p>
            <hr>
            <p>{{lien.desc}}</p>
            <p>Tags:</p>
            <ul class="tags">
                {% for tag in lien.tags %}
                    <li>{{tag}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
   <footer>
        <hr>
        Version Alpha
   </footer>
   <script src="/static/recherche.js"></script>
</body>
</html>
