#categories {
    height: 3em;
}

#categories ul {
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    height: 100%;
}

#categories li {
    padding-top: 1em;
}

#categories a {
    color: white;
    text-decoration: none;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.elem {
    margin: 10px;
    padding: 5px;
    padding-top: 2px;
    background-color: darkslategrey;
}

.elem a {
    color: white;
    font-weight: bolder;
}

.elem ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
}

.elem li {
    margin-right: 5px;
    padding: 5px;
    background-color: dimgray;
}

.informatique {
   background-color: #3A506B;
}

.musique {
    background-color: #A4036F;
}

.autres {
    background-color: #388659;
}
